.photo__card-like {
    background-image: url(../../../images/Vectorlike.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 22px;
    width: 22px;
    align-items: center;
    transition: .3s linear;

}

.photo__card-like:hover {
    opacity: .5;
}