.page {
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter", Arial, sans-serif;
    background: black;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .page {
        margin: 0 10%;
    }
}

@media screen and (max-width: 767px) {
    .page {
        margin: 0 5%;
    }
}

@media screen and (max-width: 570px) {
    .page {
        margin: 0;
    }
}