.popup__input {
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    width: 358px;
    line-height: 17px;
    font-size: 14px;
    margin: 0 0 30px;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 450px) {
    .popup__input {
        min-width: 238px;
    }
}