.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0 auto;

}


@media screen and (max-width: 850px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
        align-items: center;
        max-width: 282px;

    }
}

@media screen and (max-width: 450px) {
    .profile {
        margin: 0 19px 0;
    }
}
