.header {
    padding-top: 45px;
    min-width: 880px;
    min-height: 74px;
    margin: 0 200px;
    position: relative;
    border-bottom: 1px solid #545454;
}
@media screen and (max-width: 320px) {
    .header {
       padding: 28px 0 0;
        margin: 0;
        min-width: 320px;
        min-height: 56px;

    }
}