.profile__subtitle {
    margin: 0;
    max-width: 350px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 857px) {
    .profile__subtitle {
        text-align: center;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 450px) {
    .profile__subtitle {
        min-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}