.profile__title {
    font-size: 42px;
    line-height: 39px;
    font-weight: 500;
    max-width: 294px;
    padding-right: 18px;
    padding-bottom: 16px;
    margin: 0;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 857px) {
    .profile__title {
        margin: 26px 0 9px;
    }
}

@media screen and (max-width: 450px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-right: 10px;
        padding-left: 30px;
        max-width: 220px;
        padding-bottom: 0;
    }
}