.profile__info-group {
    padding-left: 30px;

}

@media screen and (max-width: 760px) {
    .profile__info-group {
        padding-left: 19px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .profile__info-group {
        padding-left: 0;
    }
}
