.popup__button-close {
    background-image: url("../../../images/CloseIcon.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    left: 102%;
    top: -39px;
    transition: opacity 0.3s linear;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 450px) {
    .popup__button-close {
        background-image: url("../../../images/Close Icon2.svg");
        width: 20px;
        height: 20px;
        top: -36px;
        left: 260px;

    }
}