.profile__title-group {
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 450px) {
    .profile__title-group {
        max-width: 282px;
        justify-content: center;
    }

}