.profile__title-group {
    display: flex;
    width: 336px;
    padding-bottom: 16px;
    align-items: baseline;
    padding-right: 244px;

}

@media screen and (max-width: 320px) {
    .profile__title-group {
        width: 224px;
        line-height: 33px;
        padding-right: 0;
        padding-top: 26px;
        padding-bottom: 7px;

    }
}