.profile__button {
    background-image: url("../../../images/Edit Button_pencil.svg");
    background-repeat: no-repeat;
    background-color: black;
    height: 24px;
    width: 24px;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width: 550px) {
    .profile__button {
        background-image: url("../../../images/Edit Button2.svg");
        border: none;
        height: 18px;
        width: 18px;
    }
}