.photo__cards {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    column-gap: 17px;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 282px);
    margin-top: 50px;
}


@media screen and (max-width: 450px) {
    .photo__cards {
        margin: 36px 19px;
    }
}
